div.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    color: #409eff;
}

.el-table__expanded-cell[class*="cell"] {
    background: #ebeef5;
}

.el-collapse-item__header {
    background: #e4e7ed;
    padding-left: 16px;
}

.collapse-margin {
    margin: 10px 0 10px 0;
}

.el-collapse-item__arrow.is-active {
    transform: rotate(90deg);
}

.custom-shadow {
    box-shadow: 0 0 5px 1px #333;
}

/* table row 告警级别背景色 */
.el-table .critical-row {
    background: #e94a1a;
    color: #fff;
}
.el-table .major-row {
    background: #e69122;
}
.el-table .minor-row {
    background: #f0af65;
}
.el-table .warning-row {
    background: #e2b076;
}
