div.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content{
    color: #409EFF;
}

.el-table__expanded-cell[class*=cell] {
    background: #ebeef5;
}

.el-collapse-item__header{
    background: #E4E7ED;
    padding-left: 16px;
}

.collapse-margin{
    margin: 10px 0 10px 0;
}

.el-collapse-item__arrow.is-active {
    transform: rotate(90deg);
}

.custom-shadow{
    box-shadow: 0 0 5px 1px #333;
}