div.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    color: #409eff;
}

/* .el-table__expanded-cell[class*="cell"] {
    background: #ebeef5;
} */

.el-collapse{
    border: none;
}

.el-table__body, .el-table__footer, .el-table__header {
    border-collapse: separate !important;
}

.collapse-margin {
    margin: 10px 0 10px 0;
}

.el-collapse-item__arrow.is-active {
    transform: rotate(90deg);
}

.custom-shadow {
    box-shadow: 0 0 5px 1px #333;
}

.el-dropdown{
    cursor: pointer;
}

.el-message{
    top: 75px;
}

.el-select{
    width: 100%;
}
/* table row 告警级别背景色 */
.el-table .critical-row {
    background: #e94a1a;
    color: #fff;
}
.el-table .major-row {
    background: #e69122;
}
.el-table .minor-row {
    background: #f0af65;
}
.el-table .warning-row {
    background: #e2b076;
}

.is-fullscreen .el-dialog__header{
    border: none;
}

.el-dialog__header{
    padding: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #666;
    font-weight: 600;
}

.port-nav-title + .el-form .el-form-item--small .el-form-item__content{
    line-height: 51px;
}

.el-switch:focus{
    outline: none;
}


.tree-border {
    min-height: 720px;
    border: 1px solid #ddd;
    max-height: 720px;
    overflow-y: auto;
}

@media screen and (max-height: 769px){
    .tree-border{
        min-height: 420px;
    }
}